###	WordHoard server configuration properties file

#	Database connection properties.

database-url jdbc:mysql://localhost/wordhoardserver?characterEncoding=UTF-8
database-username wordhoardserver
database-password wordhoardserver
userdata-database-url jdbc:mysql://localhost/wordhoard?characterEncoding=UTF-8
userdata-database-username wordhoardserver
userdata-database-password wordhoardserver

#	RMI port numbers.

rmiregistry-port 1100
rmi-port 0
