###	WordHoard logging configuration properties file.

###	Root logger (defaults).

log4j.rootCategory=ERROR, server

###	WordHoard server logger.
#
#	Fatal and error levels should always be turned on.

log4j.category.edu.northwestern.at.wordhoard.server=DEBUG

###	Console appender.

log4j.appender.console=org.apache.log4j.ConsoleAppender
log4j.appender.console.layout=org.apache.log4j.PatternLayout
log4j.appender.console.layout.ConversionPattern=%d %-5p - %m%n

###	Server log file appender.
#
#	The log4j.appender.server.File property specifies the log file
#	name. The WordHoard server configuration code in Logger.java forces
#	this file to be in the site directory.
#
#	The log is rolled over every night at midnight. The daily rolled
#	over log files are named "log.yyyy-mm-dd".

log4j.appender.server=org.apache.log4j.DailyRollingFileAppender
log4j.appender.server.File=log
log4j.appender.server.DatePattern='.'yyyy-MM-dd
log4j.appender.server.layout=org.apache.log4j.PatternLayout
log4j.appender.server.layout.ConversionPattern=%d %-5p - %m%n
