.DS_Store
manifest-attributes.txt
wordhoardserver.jar
client/
javadoc/
bin/
data/works
data/translations
misc/full-build.txt
misc/manifest-server
server/data/log
userman/*.pdf
/output/
/nbproject/private/
private/
